# Bot Credentials
TOKEN=your_bot_token_here
CLIENT_ID=your_bot_client_id_here
GUILD_ID=your_server_id_here

# Channel & Category IDs
ORDERS_CHANNEL_ID=public_orders_channel_id
PENDING_CAT_ID=pending_category_id
PROGRESS_CAT_ID=in_progress_category_id
COMPLETED_CAT_ID=completed_category_id
REVIEWS_CHANNEL_ID=reviews_channel_id
PORTFOLIO_CHANNEL_ID=portfolio_channel_id
LOG_CHANNEL_ID=log_channel_id

# Settings
MAX_ACTIVE_ORDERS=3

# Roles
ADMIN_ROLE_NAME=admin prem
CUSTOMER_ROLE_NAME=customer
